---
import { probeImage } from '../../lib/image-dimensions';
import styles from './BannerImage.module.scss';

interface Props {
	src: string;
	alt?: string;
	loading?: 'eager' | 'lazy';
}

const { src, alt = '', loading = 'eager' } = Astro.props;
const dims = probeImage(src);
---

<div class={styles.wrap}>
	<img
		class={styles.image}
		src={src}
		alt={alt}
		loading={loading}
		width={dims?.width}
		height={dims?.height}
	/>
</div>
